<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>ISS  Spotter - Let's Spot the Station</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag 'inflection' %>
  <%= javascript_include_tag 'marelle' %>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
	<script type="text/javascript" charset="utf-8">

		// on DOM ready...
		// Auth Part
		 $(function() {
			   // setup with your key and a callback function which 
			   $.Marelle( FSQUARE_CLIENT_ID ).done( function( M ){
					// grab an authentication promise 
				   var authpromise = M.authenticateVisitor();
				   //  handle logged-in user
				   var authsuccess = function(user){
				   		// Backend Calls
				   		var Udata = user.response.user;
				   		console.log(Udata.firstName);
				   		console.log(Udata.id); // you can get other information
				   		// get Token
				   		var Token = getToken();
				   		console.log(Token);
				   		// Use the response
				   		
				   		// Send the Token using your Backend Call e.g: http://localhost/?tok=token

				   		// End Backend Calls
				   		M.signoutButton( document.body );
					    $('#username').text("Hello "+ Udata.firstName);

				   };
				   // handle non user 
				   var authfailure = function() {
				   		console.log("No");
					   // M.signinButton( document.body );
				   };
				   // wait for promise to resolve
				   authpromise.then(authsuccess,authfailure)
				
			   }).fail(function(){
					consoloe.log('Marelle could not be loaded.')
			   });
		   });

		function Checkin() {
		    $.Marelle( FSQUARE_CLIENT_ID ).done( function( M ){
			   var authpromise = M.authenticateVisitor();
			   var authsuccess = function(data){
				   M.signoutButton( document.body );
					//checkinPromise = $.Marelle.Checkin.add( {venueId:'4a9ef9e6f964a520023c20e3'} )
					checkinPromise = $.Marelle.Checkin.add( {venueId:'49da74aef964a5208b5e1fe3'} )
					 // {venueId:, venue:, shout:, broadcast:, ll:, llAcc:, alt:, altAcc:}
					    checkinPromise.then(
							function callSuccess(){
								console.log( 'success Hamdolilah', arguments)
								//$.Marelle.addcomment('I just saw the ISS, Awesome!!');
							},
							function callFailure(){
								console.log( 'failure', arguments)								
							}
					   );
			   };
			   var authfailure = function() {
				   M.signinButton( document.body );
			   };
			   authpromise.then(authsuccess,authfailure)
		   }).fail(function(){
				consoloe.log('Marelle could not be loaded.')
		   });
	    };	


			//checkinPromise = $.Marelle.Visitor.getCheckins({id:'alleynyc'}) 
	</script>

	<div id="username"></div>

	<span id='checkin-btn'>Check-in</span>

	<script type="text/javascript">
		$('#checkin-btn').bind('click', function() {
		  	Checkin();
		});
	</script>
</body>
</html>

